<!-- photo detail modal -->
<div v-component="photo-detail-modal" v-with="photo_detail" id="photo-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labbeldby="photoDatail" aria-hidden="true">
	<div v-if="id != null" class="modal-dialog">
		<form v-on="submit: submit" class="modal-content" action="/photo/[[id]]?_csrf={{_csrf}}" method="put" role="form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-picture"></span> Photo Details
				</h4>
			</div>
			<div class="modal-body">
				<div class="thumbnail">
					<img v-attr="src: '/photos/'+id+'.jpg'" alt="photo">
				</div>
				<div class="form-horizontal">
					<div v-if="exif.dateTimeOriginal" class="form-group">
						<label class="col-xs-3 control-label">撮影日時</label>
						<div class="col-xs-9">
							<p>[[exif.dateTimeOriginal | dateFormat]]</p>
						</div>
					</div>
					<div v-if="exif.make" class="form-group">
						<label class="col-xs-3 control-label">カメラ</label>
						<div class="col-xs-9">
							<p>[[exif.make]] [[exif.model]]</p>
						</div>
					</div>
					<div v-if="! checkPermission()" class="form-group">
						<label class="col-xs-3 control-label">名前</label>
						<div class="col-xs-9">
							<p>[[name]]</p>
						</div>
					</div>
					<div v-if="! checkPermission()" class="form-group">
						<label class="col-xs-3 control-label">投稿者</label>
						<div class="col-xs-9">
							<p v-with="contributor">
								<a href="https://twitter.com/intent/user?user_id=[[id]]">@[[screen_name]]</a>
							</p>
						</div>
					</div>
					<div v-show="checkPermission()" class="form-group">
						<label class="col-xs-3 control-label">名前</label>
						<div class="col-xs-9">
							<input class="form-control" type="text" name="name" value="[[name]]" required>
						</div>
					</div>
					<div v-if="checkPermission()" class="form-group">
						<label class="col-xs-3 control-label">共有ユーザ</label>
						<div class="col-xs-9">
							<div v-repeat="viewers" class="input-group">
								<span class="input-group-addon">@</span>
								<input class="form-control" type="text" name="viewers" value="[[value]]" list="screen_names" required>
								<span class="input-group-btn">
									<button v-on="click: remove($index)" v-show="viewers.length > 1" class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
									<button v-on="click: add" class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div v-show="error_message.length > 0" class="alert alert-danger">
						[[error_message]]
					</div>
					<div v-show="checkPermission()" class="panel panel-info">
						<div class="panel-heading">
							Tips
						</div>
						<div class="panel-body">
							写真は一度に 50MB 以下であれば何枚でも投稿できます。何度も screen name を入力する手間が省けるので便利です。
						</div>
					</div>
					<button v-on="click: open" class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-new-window"></span> 新しいタブで開く
					</button>
					<a class="btn btn-success" type="button" download="[[name]]" href="/photos/[[id]].jpg?download=true">
						<span class="glyphicon glyphicon-download"></span> ダウンロード
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button v-on="click: delete" v-show="checkPermission()" id="add-photo-modal-delete" class="btn btn-danger" type="button" data-loading-text="Deleting...">
					<span class="glyphicon glyphicon-trash"></span> Delete
				</button>
				<button v-show="checkPermission()" id="add-photo-modal-submit" class="btn btn-primary submit-button" type="submit" data-loading-text="Updating...">
					<span class="glyphicon glyphicon-circle-arrow-up"></span> Update
				</button>
				<button class="btn btn-default" type="button" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Close
				</button>
			</div>
		</form>
	</div>
</div>

<!-- add photo modal -->
<div v-component="add-photo-modal" id="add-photo-modal" class="modal fade" tabindex="-1" role="dialog" aria-labbeldby="addPhoto" aria-hidden="true">
	<div class="modal-dialog">
		<form v-on="submit: submit" class="modal-content" action="/photo?_csrf={{_csrf}}" method="post" enctype="multipart/form-data" role="form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-plus"></span> Add your photo(s)
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">写真</label>
						<div v-if="files.length === 0" class="col-xs-9">
							<input id="file" class="form-control" type="file" name="photo" accept="image/jpeg" multiple required>
						</div>
						<div v-if="files.length > 0" class="col-xs-9">
							<div v-repeat="files" class="input-group">
								<input class="form-control" type="text" name="filename" value="[[name]]" required>
								<span class="input-group-btn">
									<button v-on="click: removeFile($index)" class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">共有ユーザ</label>
						<div class="col-xs-9">
							<div v-repeat="viewers" class="input-group">
								<span class="input-group-addon">@</span>
								<input class="form-control" type="text" name="viewers" value="[[value]]" list="screen_names" required>
								<span class="input-group-btn">
									<button v-on="click: remove($index)" v-show="viewers.length > 1" class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
									<button v-on="click: add" class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div v-show="error_message.length > 0" class="alert alert-danger">
						[[error_message]]
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							Tips
						</div>
						<div class="panel-body">
							共有ユーザには Twitter の screen name を指定してください。共有ユーザ以外には公開されません。<br>
							共有ユーザに指定した場合でも、ログイン権限が無いと閲覧できません。<br>
							他のユーザにログイン権限を与えたい場合は <a href="https://twitter.com/ww24">@ww24</a> までお問い合わせください。
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary submit-button" data-loading-text="Saving..." type="submit">Add</button>
			</div>
		</form>
	</div>
</div>
