<!DOCTYPE html>
<html>
	<head>
		{{> header}}
	</head>
	<body>
		<!-- content -->
		<div class="container">
			<section class="jumbotron">
				<div class="container">
					<h1>Private Photo Sharing</h1>
					<p class="lead">仲間内で写真を共有しよう。</p>
					<p class="lead">Twitter アカウントで簡単にログイン。</p>
					<a href="/auth">
						<img class="sign-in-with-twitter" src="/img/sign-in-with-twitter.png">
					</a>
					<p class="small">※ 現在、一部のユーザにのみご利用いただけます。</p>
			  </div>
			</section>
			<section>
				<p>お問い合わせは <a href="https://twitter.com/ww24">@ww24</a> まで</p>
			</section>
		</div>
	</body>
</html>
