<!DOCTYPE html>
<html>
	<head>
		{{> header}}
	</head>
	<body>
		<h1>Photo</h1>

		<form v-component="photo-upload-form" action="/photo?_csrf={{_csrf}}" method="post" enctype="multipart/form-data">
			<div v-repeat="viewers">
				<input type="text" name="viewers" placeholder="閲覧許可ユーザ">
				<button v-on="click: add" type="button">+ Add</button>
				<button v-on="click: remove" v-show="showRemoveButton($index)" type="button">- Remove</button>
			</div>
			<input type="file" name="photo" accept="image/jpeg" multiple required>
			<p>
				<input type="submit" value="投稿">
			</p>
		</form>

		{{> footer}}
		<script>
			Vue.component("photo-upload-form", Vue.extend({
				data: {
					viewers: [0]
				},
				methods: {
					add: function () {
						this.viewers.push(1);
					},
					remove: function () {
						this.viewers.pop();
					},
					showRemoveButton: function (index) {
						return index !== 0;
					}
				}
			}));

			Vue.config({delimiters: ["[", "]"]});
			new Vue({
				el: document.body
			});
		</script>
	</body>
</html>
