<!DOCTYPE html>
<html>
	<head>
		{{> header}}
	</head>
	<body>
		<h1>User Manager</h1>

		<div>
			{{#users}}
			<div>
				twitter: @{{screen_name}}<br>
				twitter id: {{id}}
			</div>
			{{/users}}
		</div>

		<form id="add-user" method="post" action="/user?_csrf={{_csrf}}">
			<input type="text" name="screen_name" placeholder="screen name" required>
			<button type="submit">Add User</button>
		</form>

		{{> footer}}
		<script>
			$(function () {
				$("#add-user").submit(function (e) {
					e.preventDefault();

					var $form = $(this);

					$.ajax({
						method: $form.attr("method"),
						url: $form.attr("action"),
						dataType: "json",
						data: $form.serialize()
					}).done(function (res) {
						console.log(res);
						location.reload(true);
					}).fail(function (req) {
						console.error(req);
						alert("server error");
					});
				});
			});
		</script>
	</body>
</html>
