/*!
 * Private Photo Sharing
 */

/* override bootstrap style
 * 748px で畳まれるメニューを 480px まで展開し続ける
 */
@media (min-width: 480px) {
  .navbar-header {
    float: left;
  }
}

@media (min-width: 480px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
@media (min-width: 480px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 480px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 480px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}

@media (min-width: 480px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 480px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 480px) {
  .navbar-toggle {
    display: none;
  }
}

/* custom page-header style */
.page-header {
  margin-top: 20px;
}
.no-bottom-border {
  border-bottom: none;
  padding-bottom: 0;
}

/* tab style */
.nav-tabs-right {
  margin-top: -4px;
}
.nav-tabs-right > li {
  float: right;
}
@media (min-width: 480px) {
  .nav-tabs-right {
    margin-top: -24px;
  }
}

/* thumbnail style */
.thumbnail-link {
  cursor: pointer;
}
.thumbnail .image {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.thumbnail .caption h3 {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.thumbnail .caption p {
  margin: 10px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* form-group style */
.form-group p {
  margin: 0;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wrap {
  position: relative;
  -webkit-user-select: none;
  -moz-select: none;
  -ms-select: none;
  user-select: none;
}

/* drag and drop style */
.droparea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
}
.dragover {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2000;
  border: 10px dashed #9cf;
}
.dragover:after {
  content: "Drag and Drop";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  margin-top: -50px;
  line-height: 100px;
  text-align: center;
  text-shadow: 2px 2px 2px #fff;
}
